In [2]:
x=int(input('please enter an integer'))

if x<0:
    x=0
    print('negative changed zero')
elif x==0:
        print('zero')
else:
    print('more')

please enter an integer0
zero

In [6]:
words =['cat', ' string', 'all good']
for w in words:
    print(w,len(w))

cat 3
 string 7
all good 8

In [8]:
a,b =0,1
while a<10:
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8

In [11]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [12]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [14]:
for num in range(2,10):
    if num % 2 ==0:
        print("Found an even number",num)
        continue
    print("Foind an odd number",num)

Found an even number 2
Foind an odd number 3
Found an even number 4
Foind an odd number 5
Found an even number 6
Foind an odd number 7
Found an even number 8
Foind an odd number 9

In [15]:
game_score=int(input('gamoe_socre입력'))
if game_score>1000:
    print('당신은 고수입니다')

gamoe_socre입력1001
당신은 고수입니다

In [20]:
a,b=map(int,input('a,b입력').split())
if a==b:
    print('두 값이 일치합니다')

a,b입력100 100
두 값이 일치합니다

In [24]:
from random import uniform
number = int(uniform(1,101))
if number%2==0:
    print(number,'은 짝수입니다')

6 은 짝수입니다

In [27]:
from random import uniform
number =int(uniform(-100,101))

if number>0:
    print(number,'은(는) 자연수입니다.')

48 은(는) 자연수입니다.

In [28]:
game_score=int(input('게임점수를 입력하시오:'))
if game_score>=1000:
    print('고수입니다')
else:
    print('입문자입니다')

게임점수를 입력하시오:1001
고수입니다

In [30]:
a,b=map(int,input('a,b입력').split())
if a==b:
    print('두 값이 일치합니다')
else:
    print('두 값이 일치하지 않습니다')

a,b입력100 200
두 값이 일치하지 않습니다

In [37]:
age = int(input('당신은 성인인가요 1, 미성년이면 0:'))
a=''
b=''
if age==0:
    a='미성년자입니다'
else:
    a='성인입니다'
    marriage =int(input('결혼을 하셨나요'))
    if marriage==1:
         b='결혼한'
    else:
        b='결혼하지 않은'
print('당신은',b,a)

당신은 성인인가요 1, 미성년이면 0:1
결혼을 하셨나요0
당신은 결혼하지 않은 성인입니다

In [38]:
num =int(input('정수 입력'))
if num>1 and num<10:
    print('true')

정수 입력3
true

In [39]:
age =int(input('정수 입력'))
if age>10 and age<19:
    print('청소년입니다.')

정수 입력13
청소년입니다.

In [41]:
vel = int(input('자동차의 속도를 입력하세요 km/h'))
if vel>100:
    print('고속')
elif vel>=60:
    print('중속')
else:
    print('저속')

자동차의 속도를 입력하세요 km/h10
저속

In [43]:
for i in range(5):
    print('Hello Python')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [44]:
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
list(range(2,101,2))
list(range(1,101,2))
list(range(-100,0))

[-100,
 -99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [50]:
sum=0
for i in range(1,101):
   sum+=i
print(sum)

5050

In [53]:
sum=0
for i in range(0,101,2):
    sum+=i
print(sum)

2550

In [54]:
sum=0
for i in range(1,101,2):
    sum+=i
print(sum)

2500

In [58]:
for i in range(6,-1,-1):
    print(' '*i,'#')

       #
      #
     #
    #
   #
  #
 #

In [61]:
a,b,c =map(int , input('세 정수를 입력하시오').split())
if a>b and a>c:
    if b>c:
        print(c,b,a)
    else:
        print(b,c,a)
elif b>a and b>c:
    if a>c:
        print(c,a,b)
    else:
        print(a,c,b)
else :
    if a>b:
        print(b,a,c)
    else:
        print(a,b,c)

세 정수를 입력하시오4 8 7
4 7 8

In [63]:
x,y=map(int, input('점의좌표 x,y를 입력하시오').split())
if x>0 and y>0:
    print('1사분면에 있음')
elif x<0 and y>0:
    print('2사분면에 있음')
elif x<0 and y<0:
    print('3사분면에 있음')
elif x>0 and y<0:
    print('1사분면에 있음')
else :
    print('0에 있음')

점의좌표 x,y를 입력하시오-1 -3
3사분면에 있음

In [64]:
game_score=int(input('게임점수를 입력하시오:'))
if game_score>=1000:
    print('고수입니다')
else:
    print('입문자입니다')

게임점수를 입력하시오:1000
고수입니다

In [65]:
for i in range(3):
    print('Python ')
    print('is ')
    print('FUN! ')

Python
is
FUN!
Python
is
FUN!
Python
is
FUN!

In [66]:
for i in range(3):
    print('Python ')
    print('is ')
print('FUN! ')

Python
is
Python
is
Python
is
FUN!

In [70]:
num = int(input('숫자를 입력하세요'))
check=0
for i in range(2,num):
    if num%i==0:
        check=1
        break
if check==1:
    print(num,"은 소수가 아닙니다")
else :
    print(num,"은 소수 입니다")

숫자를 입력하세요100
100 은 소수가 아닙니다

In [93]:
import math
for i in range(100,1000):
    a=int(math.pow(int(i/100),3))
    b= int(math.pow((int(i/10)%10),3))
    c=int(math.pow((i%10),3))
    if a+b+c==i:
        print(i)

153
370
371
407

In [97]:
num = int(input('1에서 9까지의 수를 입력하세요:'))
name=1
while name==1:
    if num>=1and num<=9:
        for i in range(1,10):
            print(num,'*',i,'=',num*i)
        break
    else:
        num = int(input('1에서 9까지의 수를 다시 입력하세요:'))

1에서 9까지의 수를 입력하세요:100
1에서 9까지의 수를 다시 입력하세요:100
1에서 9까지의 수를 다시 입력하세요:9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [107]:
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('-삼겹구이 (입력 s)')
print('-오삼불고기 (입력 o)')
print('-된장찌개 (입력 d)')

menu = input('메뉴를 선택하세요(알파벳 s,o,d 입력) : ')
done=0
while done==0:

    if menu=='s':
        print('삼겹구이를 선택하셨습니다')
        done=1
        break
    elif menu=='o':
        print('오삼불고기를 선택하셨습니다')
        done=1
        break
    elif   menu=='d':
        print('된장찌개를 선택하셨습니다')
        done=1
        break
    else:
        menu = input('메뉴를 선택하세요(알파벳 s,o,d 입력) : ')

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
-삼겹구이 (입력 s)
-오삼불고기 (입력 o)
-된장찌개 (입력 d)
메뉴를 선택하세요(알파벳 s,o,d 입력) : c
메뉴를 선택하세요(알파벳 s,o,d 입력) : d
된장찌개를 선택하셨습니다

In [105]:
num =int(input('숫자를 입력하세요'))
for i in range (num,-1,-1):
    print(' '*i,'*'*(num-i+1))

숫자를 입력하세요10
           *
          **
         ***
        ****
       *****
      ******
     *******
    ********
   *********
  **********
 ***********

In [113]:
n = int(input('n을 입력하세요'))
before=1

for i in range(n, n*n+1,n):
        
        if i%2==1:
            for a in range(before,i+1):
                print(a,' ',end='')
            before=i+1
            print()
        else:
            for a in range(before,i+1):
                   print(a,' ',end='')
            before=i+1
            print()

n을 입력하세요10
1  2  3  4  5  6  7  8  9  10
11  12  13  14  15  16  17  18  19  20
21  22  23  24  25  26  27  28  29  30
31  32  33  34  35  36  37  38  39  40
41  42  43  44  45  46  47  48  49  50
51  52  53  54  55  56  57  58  59  60
61  62  63  64  65  66  67  68  69  70
71  72  73  74  75  76  77  78  79  80
81  82  83  84  85  86  87  88  89  90
91  92  93  94  95  96  97  98  99  100